<%- include('./partials/headerAdmin') %>

<main class="container">
  <form method="POST" action="/admin/updateItem">
    <label for="itemId">Item</label>
    <select id="itemId" name="itemId" required <%= items.length === 1 ? 'disabled' : ''%>>
        <option value="" selected>Select an item to edit...</option>
      <% if (items.length === 1) { %>
        <option value="<%= items[0].id %>" selected><%= items[0].name %></option>
        <input type="hidden" value="<%= items[0].id %>" name="itemId">
        <input type="hidden" value="<%= items[0].metal_id %>" name="itemMetalId">
      <% } else {%>
        <% items.forEach(item => { %>
          <option value="<%= item.id %>" data-metal-id="<%= item.metal_id %>" data-price="<%= item.price %>"><%= item.name %></option>
        <% }) %>
      <% }%>
    </select>

    <label for="name">Modifier le nom en </label>
    <% if (items.length === 1) { %>
      <input type="text" id="name" name="name" placeholder="Nouveau nom" value="<%= items[0].name %>" required>
    <% } else { %> 
      <input type="text" id="name" name="name" placeholder="Nouveau nom" required>
    <% } %>

    <label for="metalId">Métal</label>
    <select id="metalId" name="metalId" required>
      <option value="" selected>Select a metal...</option>
        <% metals.forEach(metal => { %>
          <% if (items.length === 1 && metal.id == items[0].metal_id) { %>
            <option selected value="<%= metal.id %>"><%= metal.name %></option>           
          <% } else { %>
            <option value="<%= metal.id %>"><%= metal.name %></option>
          <% } %>
        <% }) %>
    </select>

    <label for="price">Prix</label>
    <% if (items.length === 1) { %>
      <input type="number" name="price" id="price" step="0.01" min="0" value="<%= items[0].price %>">
    <% } else { %>
      <input type="number" name="price" id="price" step="0.01" min="0" value="">
    <% } %>
  
    <button type="submit">Submit</button>
  </form>
</main>

<%- include('./partials/footer') %>